<form method="<?= $form->getMethod() ?>" action="<?= $form->getAction() ?>">
    <?php foreach ($form->getErrors() as $error) {
        echo "<div style='color:red'>" . $error . "</div>";
    }
    ?>
    <div>
        <label for="age">Возраст</label>
        <?= $form->getField('age')->render() ?>
    </div>
    <div>
        <label for="year">Год</label>
        <?= $form->getField('year')->render() ?>
    </div>
    <div>
        <label for="country">Страна</label>
        <?= $form->getField('country')->render() ?>
    </div>
    <button type="submit">Отправить</button>
    <form>