<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Population</title>
</head>

<body>
<div>
    <?php include('form.phtml') ?>
</div>
<div>
    <table>
        <thead>
        <tr>
            <td>Страна</td>
            <td>Год</td>
            <td>Возраст</td>
            <td>Всего</td>
            <td>Мужчин</td>
            <td>Женщин</td>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($population as $pop) { ?>
            <tr>
                <td><?= $pop['country'] ?></td>
                <td><?= $pop['year'] ?></td>
                <td><?= $pop['age'] ?></td>
                <td><?= $pop['total'] ?></td>
                <td><?= $pop['males'] ?></td>
                <td><?= $pop['females'] ?></td>
            </tr>
        <?php } ?>
        </tbody>
    </table>
</div>
</body>
</html>